.hsnCode {
  width: 63px;
}

.quantity {
  width: 63px;
}

.rate {
  width: 63px;
}

.gst {
	width: 63px;
}

.file {
	width: 106px;
}

.product {
	width: 150px;
}

table thead tr th {
	font-size: 12px;
}

.productList {
	font-size: 12px;
}

.link {
	font-size: 14px;
}